{% extends 'base.html' %}

{% block title %}
Customer Care
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mx-auto" style="margin-top:5rem; margin-bottom:13.5rem;">
        <div class="col-sm-12">
            <div class="shadow card text-center" style="height:9rem; margin-top:10rem; padding-top:2.75rem; margin-left:15rem; margin-right:15rem;">
                <div class="card-content">
                    <h4><b>For enquiries reach out to our Customer Support :</b></h4>
                    <h4><b>(+91) 9809227436</b></h4>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}